{% include 'layouts/main.twig' %}
<h2>Product</h2>

<div class="">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }} </p>
    <p>{{ product.price }} </p>
    <button>Buy</button>
</div>
